<html>
	<head>
	<script type="text/javascript">
		function init () {
			var itemForm = document.getElementById('item-form');
			var tripForm = document.getElementById('trip-form');
				itemForm.addEventListener( 'submit', handleItemSubmit );
				tripForm.addEventListener( 'submit', handleTripSubmit );
		}

		function handleTripSubmit( event ){
			event.preventDefault();
		}

		function handleTripSubmit( event ){
			event.preventDefault();
			var store_data = {
				storeName:     event.target.querySelectorAll('[name=store-name]')[0].value,
				storeLocation: event.target.querySelectorAll('[name=store-location]')[0].value,
			};

			makeAjaxRequest(
				function( responseCode, response ) {
					console.log( response );
					var tripData = {};
					tripData.storeID = response._id;
					// Now create the trip
					tripData.tripDate = document.getElementById( 'trip-date' ).value;
					console.log( tripData );

					makeAjaxRequest(
						function( responseCode, response ) {
							console.log( response )
						}, '/trip/', tripData );
				},
				'/store/', store_data );
		}

		function handleItemSubmit( event ){
			event.preventDefault();
			var storeData = {
				'receiptText': event.target.querySelectorAll('[name=receipt-text]')[0].value,
				product: event.target.querySelectorAll('[name=product]')[0].value,
				price: event.target.querySelectorAll('[name=price]')[0].value,
				discount: event.target.querySelectorAll('[name=discount]')[0].value,
				tags: event.target.querySelectorAll('[name=tags]')[0].value,
			};

			makeAjaxRequest( '/items/', data );
		}

		function makeAjaxRequest( callback, url, data, requestType, async ){
			if ( typeof async == 'undefined' ){
				async = true;
			}
			if ( typeof requestType == 'undefined' ){
				requestType = 'POST';
			}

			var request = new XMLHttpRequest();
			request.open( requestType, url, async );
			request.setRequestHeader("Content-type","application/x-www-form-urlencoded");

			request.onreadystatechange = function () {
				if ( request.readyState != 4 || request.status != 200 ) return;
				console.log( request );
				console.log(request.responseText);
				callback( request.status, JSON.parse( request.responseText ) );
			};

			console.log( flattenObject( data ) );
			request.send( flattenObject( data ) );
		}

		function flattenObject( data ){
			return Object.keys( data ).map( function( key ) {
	            return encodeURIComponent( key ) + '=' +
	                encodeURIComponent( data[ key ] );
	        }).join( '&' );
		}
	</script>
	</head>
	<body onload="init()">
		<form id="trip-form">
			<input type="text" placeholder="store-name" name="store-name" id="store-name">
			<input type="text" placeholder="store-location" name="store-location" id="store-location">
			<input type="text" placeholder="trip-date" name="trip-date" id="trip-date">
			<input type="submit">
		</form>
		<form id="item-form">
				<input type="text" placeholder="receipt-text" name="receipt-text" id="receipt-text">
				<input type="text" placeholder="product" name="product" id="product">
				<input type="text" placeholder="price" name="price" id="price">
				<input type="text" placeholder="discount" name="discount" id="discount">
				<input type="text" placeholder="tags" name="tags" id="tags">
				<input type="submit">
		</form>
	</body>
</html>
