<html>
	<head>
	<script type="text/javascript">
		function init () {
		    var itemForm = document.getElementById('item-form');
		    itemForm.addEventListener( 'submit', handleItemSubmit );
		}

		function handleItemSubmit( event ){
			event.preventDefault();
			var data = {
				'receiptText': event.target.querySelectorAll('[name=receipt-text]')[0].value,
				product: event.target.querySelectorAll('[name=product]')[0].value,
				price: event.target.querySelectorAll('[name=price]')[0].value,
				discount: event.target.querySelectorAll('[name=discount]')[0].value,
				tags: event.target.querySelectorAll('[name=tags]')[0].value,
			};

			makeAjaxRequest( '/items/', data );
		}

		function makeAjaxRequest( url, data, requestType, async ){
			if ( typeof async == 'undefined' ){
				async = true;
			}
			if ( typeof requestType == 'undefined' ){
				requestType = 'POST';
			}

			var request = new XMLHttpRequest();
			request.open( requestType, url, async );
			request.setRequestHeader("Content-type","application/x-www-form-urlencoded");

			request.onreadystatechange = function () {
				if ( request.readyState != 4 || request.status != 200 ) return;
				console.log(request.responseText);
			};

			console.log( flattenObject( data ) );
			request.send( flattenObject( data ) );
		}

		function flattenObject( data ){
			console.log( Object.keys( data ) );
			return '?' +
	        Object.keys( data ).map( function( key ) {
	            return encodeURIComponent( key ) + '=' +
	                encodeURIComponent( data[ key ] );
	        }).join( '&' );
		}
	</script>
	</head>
	<body onload="init()">
		<form id="grocery-trip">
			<input type="text" placeholder="store-name" name="store-name" id="store-name">
			<input type="text" placeholder="store-location" name="store-location" id="store-location">
			<input type="text" placeholder="trip-date" name="trip-date" id="trip-date">
		</form>
		<form id="item-form">
				<input type="text" placeholder="receipt-text" name="receipt-text" id="receipt-text">
				<input type="text" placeholder="product" name="product" id="product">
				<input type="text" placeholder="price" name="price" id="price">
				<input type="text" placeholder="discount" name="discount" id="discount">
				<input type="text" placeholder="tags" name="tags" id="tags">
				<input type="submit">
		</form>
	</body>
</html>
